.linkContainer {
  box-sizing: border-box;
  list-style: none;
}

.listElement {

}

/* override defaults */
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 40px;
  gap: 0px 16px;
  padding: 0 20px;
}

.iconActive, .iconInactive {
  display: block;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.text {
  font-size: 1rem;
}

a, a:visited {
  color: #fff;
}

.iconActive {
  fill: #fff;
}

.iconInactive {
  fill: #a7a7a7;
}