.logoContainer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
}

.link {
  flex: 1;
  margin-bottom: 18px;
  padding: 0 24px;
}

.logo {
  height : 40px;
  max-width: 131px;
  width: 100%;
  box-sizing: border-box;
  fill: #fff;
}

a, a:visited {
  color: #fff;
}