ul {
  border: 0;
  margin: 0;
  padding: 0;
}

.playlistNavContainer {
  padding-top: 36px;
}

.linkContainer {
  box-sizing: border-box;
  list-style: none;
}

.buttonContainer {
  
}

.createButton {
  background-color: transparent;
  border: none;
}

.buttonText {
  font-size: 1rem;
}

.playlistsContainer {

}

.playlistElement {
  box-sizing: border-box;
}

.link, .linkActive, .createButton {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 40px;
  gap: 0px 16px;
  padding: 0 20px;
}

.link {
  fill: #a7a7a7;
}

.linkActive, .linkActive > .buttonText {
  fill: #fff;
  color: #fff;
}

.createButton, .createButton > .buttonText {
  fill: #fff;
  color: #a7a7a7;
}

.buttonText {
  font-size: 1rem;
}

.icon {
  display: block;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

a, a:visited {
  color: #a7a7a7;
}

a:hover {
  color: #fff;
}

button:hover > .buttonText {
  color: #fff;
}