:root {
  --nav-bg: #000;
  --home-bg: #121212;
  --footer-bg: #181818;
  --footer-border: #282828;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --essential-subdued: #727272;
  --decorative-subdued: #292929;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html, body {
  margin: 0;
  height: 100%;
  overflow:hidden;
  font-family: "Arial";
}

.app {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 75px 1fr 140px;
}