.mainContainer {
  display: flex;
  flex-direction: row;
}

.cardContainer {
  border: 1px solid blue;
  margin: 25px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 0;
  min-width: 200px;
  aspect-ratio: 0.65;
}

.cardImage {
  min-height: 160px;
  min-width: 160px;

  width: 80%;
  height: calc(width);
  padding: 20px 0;
}

.cardHeader {
  font-weight: bold;
  padding-bottom: 20px;
}

.cardText {
  padding: 0 20px;
}