.title {
  margin: 50px 0 0 25px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.cardContainer {
  background-color: #161616;
  border-radius: 10px;
  margin: 0 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1 0;
  min-width: 200px;
  max-width: 220px;
  min-height: 300px;
  max-height: 330px;
  /* aspect-ratio: 0.65; */
}

.cardImage {
  border-radius: 10px;
  
  min-height: 160px;
  min-width: 160px;

  width: 80%;
  height: calc(width);
  padding: 20px 0;
}

.cardHeader {
  font-weight: bold;
  padding-bottom: 20px;
}

.cardText {
  padding: 0 20px;
}