.title {
  margin: 50px 0 0 25px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: space-around;

  gap: 20px 30px;
  margin: 50px 25px 0 25px;
}

.recentContainer {
  border-radius: 10px;
  background: #292929;

  height: 100px;
  
  flex: 1 1 30%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.recentImage {
  height: 100px;
  width: 100px;

  border-radius: 10px 0px 0px 10px;
}

.recentText {
  padding: 0 25px;
}