.songProgressBar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
}

.barBackground, .barProgress {
  height: 15px;
  border-radius: 15px;
}

.barBackground {
  width: 100%;
  background-color: #292929;
}

.barProgress {
  width: 10%;
  background-color: #727272
}